body{

    /* background-image: url('../images/background_1.png');
    background-size: 100vw 100vh; */


    background:url('../images/background_1.png')  0 0/100% 100% no-repeat;
    /*  */
    padding:  51px 10% 15px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    /* border: 5px solid rgb(90, 221, 96); */
}
header{

    margin-bottom: 40px;
    /* width: 1300px; */
    max-width: 1030px;
    width: 100%;
    /* margin-left: 120px; */
    display: flex;
    justify-content: space-between;
}

header img{
    margin-right: 5px;
}

header p{
    color: white;
}

.header_text_left{
    display: flex;
}

.header_text_left:hover *{
    color:#F26522;
    /* background: url("../images/logo_2.svg"); */
    
}

.logopop{
    display: none;
}

.header_text_left:hover .logop{               
    display: none;
}

.header_text_left:hover .logopop{
    display: block;
}



.header_text_right{
    text-align: right;
}

.header_text_right:hover p{
    color: #F26522;
}


a{
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
   
    
}

.logo_margin{
    margin-top:10px;
}

.text_margin{
    margin-bottom: 19px;
}


.text{
    
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-align: center;
    margin: 20px 0 37px 0;
   
}


.text_hover{
    color: white;
    font-size: 18px;
    padding-left: 10px;
    
}
.right{
   padding-left: 115px;
}

.smaller{
    font-size: 10px;
    padding: 7px 0 8px 15px;
}

.bigger{
    font-size: 29px;
    
}


main{
    width: 100%;
 
  max-width: 1030px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   
.container_img {
flex:  0 3 27%;
width: 300px;
margin-bottom: 30px;
/* position: relative;        */

}

.container_img:hover .hoverr{
    opacity: 1;
    
}

.container_img:hover .text{
    color:#F26522;
}



.image_class{
    position: relative;
}
.container_img img {
   
    width: 100%;
    height: 80%;
    min-width: 200px;
    max-width: 300px;
    min-height: 180px;

}

.hoverr{
    opacity: 0;
    position: absolute;
    background-color:#F26522;
    height: 30%;
    width: 100%;
    top: 70%;
}


footer{
    margin-top: 30px;
    color: white;
    font-size: 12px;
}

/* main .container_img:nth-child(2),
main .container_img:nth-child(5){
   margin: 0 40px 37px 40px;
    
  
} */